src/n8n/workflow.json
{
  "name": "workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2256,
        1120
      ],
      "id": "f96224aa-5554-4ef9-99e0-9f6ff484ddfc",
      "name": "Telegram Trigger",
      "webhookId": "196358e8-7dad-4d79-bde9-6bdea86c4a0c",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf488795-6800-49f6-8592-d71c48089ae7",
              "leftValue": "={{ $json.message?.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1584,
        1504
      ],
      "id": "3d3b6393-b7a5-474b-a882-d0bca6f88061",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=👋 Добро пожаловать в OncoHelp!  Я помогаю анализировать истории болезни и составлять планы лечения на основе официальных клинических рекомендаций Минздрава РФ.  Выберите действие:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀 Начать работу",
                    "additionalFields": {
                      "callback_data": "start_work"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🤖 Что умеет бот",
                    "additionalFields": {
                      "callback_data": "about"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💬 Обратная связь",
                    "additionalFields": {
                      "callback_data": "feedback"
                    }
                  },
                  {
                    "text": "🛠 Техподдержка",
                    "additionalFields": {
                      "callback_data": "support"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1440,
        1264
      ],
      "id": "f8c034d4-dfbc-4377-ae56-d6fa8be5dc45",
      "name": "Send a text message",
      "webhookId": "6bb53fb2-011a-498f-9008-799a0373ef17",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "start_work",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "55e9bf43-d164-4be3-a5cd-78fe3f25f70d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start_work"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8c2578ba-0692-4e6e-ab2e-247b2120f300",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "about",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "about"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f37529f-2e4b-4811-9861-568ebdab576d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "feedback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "feedback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01740bd9-53bf-4c94-b49e-575af87e8b64",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "002a3ceb-6925-4f71-b4ed-8021e8ac2e7a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "role_doctor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "role_doctor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b3df2f7a-5bd6-493e-9d93-b7a252e251ac",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "role_patient",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "role_patient "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80c74ee5-80c6-4fa9-a427-5b05fa2e14cd",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "stop_chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop_chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ed8c7bfd-8db5-48b8-abb6-923baeb62cc1",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "buffer_ready",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "buffer_ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bc39e876-2e6a-49d3-9d36-13ad27d67a21",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "chage_role",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chage_role"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -560,
        544
      ],
      "id": "0cb09711-bb69-4111-ad6f-94219cc45417",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "=🤖 **Возможности OncoHelp:**  \n📄 Анализирует историю болезни в формате PDF, Word 🔬 или просто в виде текста. Определяет тип онкологии 📋 \nСоставляет план лечения на основе клинических рекомендаций Минздрава РФ 👨‍⚕️ \nАдаптирует ответ под врача или пациента  \n⚠️ _Бот носит рекомендательный характер и не заменяет очную консультацию врача-онколога._",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -64
      ],
      "id": "c44ff57c-44f2-4321-9db8-42766781a3c5",
      "name": "Send a text message1",
      "webhookId": "5c0ada2f-1b6b-49ba-97ee-68e02a747b71",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=🛠 Опишите вашу проблему следующим сообщением — мы ответим в ближайшее время.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        928
      ],
      "id": "a046731e-0b9b-4215-9531-8dcd107fddd2",
      "name": "Send a text message2",
      "webhookId": "c796f874-5901-4536-8654-2cc408700f8c",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=💬 Напишите ваш отзыв следующим сообщением — мы обязательно его прочитаем.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        736
      ],
      "id": "08b6c40f-0d9a-41c7-8fbd-5b67e90f0c54",
      "name": "Send a text message4",
      "webhookId": "03aa7a93-1d97-403f-a4bb-b7b5c6a8707f",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "=📋 **Выберите роль **\n\nВрач - анализ на профессиональном языке\nПациент - анализ на простом, понятном языке\n\n__Это нужно чтобы бот адаптировал ответ под вас__",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Врач",
                    "additionalFields": {
                      "callback_data": "role_doctor"
                    }
                  },
                  {
                    "text": "Пациент",
                    "additionalFields": {
                      "callback_data": "role_patient"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -400
      ],
      "id": "4d7cec6d-808d-42f5-b785-9833ed60839e",
      "name": "Send a text message5",
      "webhookId": "46e1ce93-ccd0-4b1e-9c8b-378ee612808a",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dab2868a-68e3-491a-803b-26949d3cec00",
              "leftValue": "={{ $json.callback_query.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        1120
      ],
      "id": "b5cd0692-a5ee-4477-97c1-d74b92782cde",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "Спасибо за отзыв!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        1120
      ],
      "id": "66f1e166-ba92-4c7f-b36d-1eecab2baf15",
      "name": "Send a text message7",
      "webhookId": "6e133551-f304-4e5a-bd93-55a8c62f6c37",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003871488822",
        "text": "=ТехПоддержка @{{ $('Telegram Trigger').item.json.message.chat.username }}:\n{{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        1312
      ],
      "id": "c8e43b83-eaa4-401c-9b4a-d707387f4b9f",
      "name": "Send a text message8",
      "webhookId": "26c5cf51-a5d2-469b-9d2b-2f9d1bf9c9bd",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "✅ Обращение принято! Мы свяжемся с вами в ближайшее время.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        1312
      ],
      "id": "6fa78934-6b23-469a-8b30-39196c6f1b3f",
      "name": "Send a text message9",
      "webhookId": "6e133551-f304-4e5a-bd93-55a8c62f6c37",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.callback_query.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData[userId + '_state'] = 'idle';\nworkflowStaticData[userId + '_role'] = 'doctor';'doctor';\n\nreturn [{ json: { \n  ...$json,\n  success: true, \n  role: 'doctor', \n  userId \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1120
      ],
      "id": "84103815-716f-49f6-9726-013aa78acf2f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.callback_query.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData[userId + '_state'] = 'idle';\nworkflowStaticData[userId + '_role'] = 'patient';\n\nreturn [{ json: { \n  ...$json,\n  success: true, \n  role: 'patient', \n  userId \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        1312
      ],
      "id": "3c2b252d-9b65-4e6e-b501-6f191111dca7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=👨‍⚕️ Вы выбрали режим врача.\n\n📎 Прикрепите файл истории болезни в формате PDF или Word или просто отправьте текстовым сообщением(при дроблении длинного текста, не отправляйте все сразу).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        1120
      ],
      "id": "372fdf1d-b2f7-4a13-a503-96393d9109e5",
      "name": "Send a text message3",
      "webhookId": "ecec7e79-39ce-431e-8a28-7af383cab5eb",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=🙋 Вы выбрали режим пациента.\n\n📎 Прикрепите файл истории болезни в формате PDF или Word или просто отправьте текстовым сообщением(при дроблении длинного текста, не отправляйте все сразу).",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        1312
      ],
      "id": "677d470a-8b0a-49fd-93f0-a6ab5b212ee0",
      "name": "Send a text message10",
      "webhookId": "ecec7e79-39ce-431e-8a28-7af383cab5eb",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.callback_query.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData[userId + '_state'] = 'feedback';\n\nreturn [{ json: { ...$json, success: true }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        736
      ],
      "id": "176fae62-a8ce-4222-9ae6-0ce5abd05fcf",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.callback_query.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData[userId + '_state'] = 'support';\n\nreturn [{ json: { ...$json, success: true }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        928
      ],
      "id": "b4594aeb-7190-4829-a764-9095af3f51d8",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.message.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nconst state = workflowStaticData[userId + '_state'] || 'idle';\n\n// Сбрасываем состояние только если это не chat\n// chat-состояние живёт до тех пор пока пользователь не нажмёт \"Завершить диалог\"\nif (state !== 'chat') {\n  workflowStaticData[userId + '_state'] = 'idle';\n}\n\nreturn [{ json: { \n  ...$json,\n  user_state: state\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        1600
      ],
      "id": "43d30f50-e3cd-4c29-a001-feb45b6df423",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.user_state }}",
                    "rightValue": "feedback",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "73d203d4-6023-43b1-91ba-0dcb0b7c095d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "feedback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "91cc07b1-d839-49f2-8990-a2a761d43233",
                    "leftValue": "={{ $json.user_state }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59b82bfe-80b6-4435-968d-6337f86edd22",
                    "leftValue": "={{ $json.user_state }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a8d1bce2-5cb4-4f34-a35a-aef4724b9054",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "416d65cd-bad4-4a71-99b2-af832cc40d44",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message?.text }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1136,
        1552
      ],
      "id": "4dc94597-ef00-40e0-b90e-af9ab5914739",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "-1003871488822",
        "text": "=🛠 Обратная связь от @{{ $('Telegram Trigger').item.json.message.chat.username }}:\n{{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        1120
      ],
      "id": "486b9c94-293a-4c91-9dc1-c84b2619f06b",
      "name": "Send a text message6",
      "webhookId": "26c5cf51-a5d2-469b-9d2b-2f9d1bf9c9bd",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        2160
      ],
      "id": "7d2da073-cbe9-454e-80d3-0629dc9fb2ee",
      "name": "Get a file",
      "webhookId": "80aa8ea6-2a4d-4f64-88f9-0dd91f6f4be8",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8400023148:ВАШ_ТОКЕН/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        2160
      ],
      "id": "3904aeb2-0e14-48c2-ad84-49d3979c5c78",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -16,
        1984
      ],
      "id": "c3c2b0a6-0c20-4249-a2f4-a9e283e311d1",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }} ?? {{ $json.message.text }}",
        "options": {
          "systemMessage": "=Верни ТОЛЬКО валидный JSON без пояснений и без markdown. Формат ответа:\n{\"code\": \"КОД_МКБ\", \"name\": \"НАЗВАНИЕ_НА_РУССКОМ\", \"file_key\": \"КЛЮЧ_ИЗ_СПИСКА\", \"book_key\": \"КЛЮЧ_ИЗ_КНИГ_ИЛИ_NULL\", \"special_key\": \"КЛЮЧ_ИЛИ_NULL\"}\n\nДля file_key используй ТОЛЬКО значения из этого списка(или null если ничего не подходит):\n[ \"Acute_lymphoblastic_leukemia_adults\",\n    \"Acute_lymphoblastic_leukemia_children\",\n    \"Acute_myeloid_leukemia_adults\",\n    \"Acute_myeloid_leukemia_children\",\n    \"Acute_promyelocytic_leukemia_adults\",\n    \"Acute_promyelocytic_leukemia_children\",\n    \"Aggressive_follicular_lymphomas\",\n    \"Anemia_in_malignant_neoplasms\",\n    \"Aplastic_anemia_adults\",\n    \"Aplastic_anemia_children\",\n    \"Basal_cell_carcinoma_of_the_skin\",\n    \"Bladder_cancer\",\n    \"Bone_sarcomas\",\n    \"Borderline_ovarian_tumors\",\n    \"Breast_cancer\",\n    \"Cancer_of_the_oropharynx\",\n    \"Cancer_of_the_adrenal_cortex_(adrenocortical_cancer)\",\n    \"Cancer_of_the_colon_and_rectosigmoid_junction\",\n    \"Cancer_of_the_esophagus_and_cardia\",\n    \"Cancer_of_the_kidney_parenchyma\",\n    \"Cancer_of_the_nasal_cavity_and_paranasal_sinuses\",\n    \"Cancer_of_the_urethra\",\n    \"Cancer_or_the_biliary_system\",\n    \"Cervical_cancer\",\n    \"Chronic_lymphocytic_leukemia_small_lymphocyte_lymphoma\",\n    \"Chronic_myeloid_leukemia\",\n    \"Differentiated_cancer_thyroid_gland\",\n    \"Extracranial_germinogenic_tumors\",\n    \"Follicular_lymphoma\",\n    \"Fungal_mycosis\",\n    \"Gastrointestinal_stromal_tumors\",\n    \"Germinogenic_tumors_in_men\",\n    \"Hairy_cell_leukemia\",\n    \"Hemophilia\",\n    \"Hepatoblastoma\",\n    \"Hodgkin's_lymphoma\",\n    \"Idiopathic_thrombocytopenic_purpura_for_adults\",\n    \"Immune_thrombocytopenia\",\n    \"Infantile_hemangioma\",\n    \"Intraocular_retinoblastoma\",\n    \"Kaposi_s_sarcoma\",\n    \"Kaposi's_sarcoma\",\n    \"Laryngeal_cancer\",\n    \"Laryngopharyngeal_cancer\",\n    \"Liver_cancer_(hepatocellular)\",\n    \"Lymphoma_from_mantle_cells\",\n    \"Malignant_neoplasm_of_the_bronchi_and_lungs\",\n    \"Malignant_neoplasms_of_the_lip\",\n    \"Malignant_neoplasms_of_bones_and_articular_cartilage_osteosarcoma_Ewing_s_sarcoma\",\n    \"Malignant_neoplasms_of_the_kidneys_renal_pelvis_ureter_other_and_unspecified_urinary_organs\",\n    \"Malignant_neoplasms_of_the_oral_cavity\",\n    \"Malignant_neoplasms_of_the_vagina\",\n    \"Malignant_tumors_of_the_salivary_glands\",\n    \"Marginal_zone_lymphoma\",\n    \"Medullary_thyroid_cancer\",\n    \"Melanoform_nevus\",\n    \"Melanoma_of_the_skin_and_mucous_membranes\",\n    \"Merkel_s_carcinoma\",\n    \"Mesothelioma_of_the_pleura_peritoneum_and_other_localizations\",\n    \"Multiple_myeloma\",\n    \"Myelodysplastic_syndrome_Myelodysplastic_myeloproliferative_neoplasms\",\n    \"Nasopharyngeal_cancer\",\n    \"Nasopharyngeal_cancer_children\",\n    \"Neuroblastoma\",\n    \"Neuroendocrine_tumors\",\n    \"Nodal_T-cell_lymphomas\",\n    \"Non-epithelial_ovarian_tumors\",\n    \"Other_plasmocellular_neoplasms\",\n    \"Ovarian_cancer_Fallopian_tube_cancer_Primary_peritoneal_cancer\",\n    \"Pancreatic_cancer\",\n    \"Penile_cancer\",\n    \"Ph-negative_myeloproliferative_neoplasms\",\n    \"Plasma_cell_leukemia\",\n    \"Primary_tumors_of_the_central_nervous_system\",\n    \"Prostate_cancer\",\n    \"Rare_coagulopathies_hereditary_deficiency_of_blood_coagulation_factors\",\n    \"Rectal_cancer\",\n    \"Retinoblastoma\",\n    \"Retroperitoneal_extraorgan_sarcomas\",\n    \"Secondary_malignant_neoplasm_of_the_brain_and_meninges\",\n    \"Soft_tissue_sarcomas\",\n    \"Solitary_(extramedullary)_plasmocytoma\",\n    \"Squamous_cell_carcinoma_of_the_anal_canal_anal_margin_and_perianal_skin\",\n    \"Squamous_cell_carcinoma_of_the_skin\",\n    \"Stomach_cancer\",\n    \"Thyroid_cancer\",\n    \"Tracheal_cancer\",\n    \"Trophoblastic_tumors\",\n    \"Tumors_of_the_mediastinum\",\n    \"Tumors_of_the_salivary_glands_in_children\",\n    \"Tumors_of_undetected_primary_localization\",\n    \"Urothelial_cancer_of_the_upper_urinary_tract\",\n    \"Uterine_body_cancer_and_uterine_sarcomas\",\n    \"Uveal_melanoma\",\n    \"Vulvar_cancer\",\n    \"Waldenstrom's_macroglobulinemia\", ]\n\nДля book_key выбери наиболее релевантную главу RUSSCO из этого списка (или null если ничего не подходит):\n[\n    \"General_principles_of_antitumor_drug_therapy\",\n    \"Features_of_antitumor_drug_treatment_in_elderly_patients\",\n    \"Features_of_drug_therapy_for_solid_tumors_during_pregnancy\",\n    \"Non-small_cell_lung_cancer\",\n    \"Small_cell_lung_cancer\",\n    \"Mesothelioma_of_the_pleura_peritoneum_and_other_localizations_1\",\n    \"Neuroendocrine_neoplasms_of_the_lungs_and_thymus\",\n    \"Thymic_epithelial_tumors\",\n    \"Head_and_neck_tumors\",\n    \"Primary_tumors_of_the_central_nervous_system_1\",\n    \"Metastatic_lesions_of_the_central_nervous_system\",\n    \"Cancer_of_the_esophagus_and_cardia_1\",\n    \"Stomach_cancer_1\",\n    \"Cancer_of_the_colon_rectosigmoid_junction_and_rectum\",\n    \"Cancer_of_the_small_intestine_and_ampulla_of_Vater\",\n    \"Squamous_cell_carcinoma_of_the_anal_canal_anal_margin_and_perianal_skin_1\",\n    \"Malignant_tumors_of_the_liver_and_biliary_system\",\n    \"Pancreatic_cancer_1\",\n    \"Gastrointestinal_stromal_tumors_1\",\n    \"Neuroendocrine_neoplasms_of_the_gastrointestinal_tract_and_pancreas\",\n    \"Pseudomyxoma_peritonei\",\n    \"Cancer_of_the_adrenal_cortex_(adrenocortical_cancer)_1\",\n    \"Breast_cancer_1\",\n    \"Ovarian_cancer_Fallopian_tube_cancer_Primary_peritoneal_cancer_1\",\n    \"Non-epithelial_ovarian_tumors_1\",\n    \"Borderline_ovarian_tumors_1\",\n    \"Cervical_cancer_1\",\n    \"Uterine_body_cancer_and_uterine_sarcomas_1\",\n    \"Trophoblastic_tumors_1\",\n    \"Cancer_of_the_kidney_parenchyma_1\",\n    \"Bladder_cancer_1\",\n    \"Prostate_cancer_1\",\n    \"Germinogenic_tumors_in_men_1\",\n    \"Melanoma_of_the_skin_and_mucous_membranes_1\",\n    \"Malignant_non-melanocytic_skin_tumors_(basal_cell_squamous_cell_Merkel_carcinoma)\",\n    \"Bone_sarcomas_1\",\n    \"Soft_tissue_sarcomas_1\",\n    \"Tumors_of_undetected_primary_localization_1\",\n]\n\nДля special_key — определи по истории болезни:\n- Если пациентка беременна → \"Features_of_drug_therapy_for_solid_tumors_during_pregnancy\"\n- Если пациент пожилой (60+ лет) → \"Features_of_antitumor_drug_treatment_in_elderly_patients\"\n- Иначе → null"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        336
      ],
      "id": "c55ae68d-4c3e-4fa2-a540-a80a2881edf0",
      "name": "AI Agent",
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "maxTokens": 200,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        560
      ],
      "id": "a495bedb-d4c2-498c-9a48-568ad36aeecd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6kLXtrCpJR770JWH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c058a47d-3913-43df-9bce-9402f68f6d18",
              "leftValue": "={{ $json.file_key }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        240
      ],
      "id": "0550fdb1-588f-44c4-8245-1a2cfc9dec92",
      "name": "If2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        320
      ],
      "id": "15302ad6-2aa4-43fc-a562-e0f563a6c50b",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/oncology_guidelines/{{ $('Code in JavaScript5').item.json.file_key }}.pdf"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1456,
        -48
      ],
      "id": "bd77ef59-d13d-424e-b9ef-51dfff4d6ebf",
      "name": "Download a file",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "ylDTbgHcVionbYsP",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afe58edd-3cd7-4471-a485-61194a2fafc0",
              "leftValue": "={{ $('Code in JavaScript17').item.json.guidelines_text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2560,
        800
      ],
      "id": "805d96d1-c7a2-4e3d-993f-57e246231557",
      "name": "If3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ИСТОРИЯ БОЛЕЗНИ ПАЦИЕНТА:\n{{ $('Merge').item.json.text }}\nТИП ОНКОЛОГИИ: {{ $('If2').item.json.oncology_code }},{{ $('If2').item.json.oncology_name }}\nКЛИНИЧЕСКИЕ РЕКОМЕНДАЦИИ МИНЗДРАВА:\n{{ $('Code in JavaScript17').item.json.guidelines_text }}\nКЛИНИЧЕСКИЕ РЕКОМЕНДАЦИИ RUSSCO:\n{{ $('Code in JavaScript17').item.json.book_text }}\nОСОБЫЕ КАТЕГОРИИ ПАЦИЕНТОВ:\n{{ $('Code in JavaScript17').item.json.special_text }}\nРОЛЬ ПОЛЬЗОВАТЕЛЯ: {{ $('Code in JavaScript15').item.json.role }}",
        "options": {
          "systemMessage": "=Ты — AI-помощник для проверки соответствия лечения онкологических пациентов клиническим рекомендациям. Работаешь ТОЛЬКО в режиме doctor. Выводи ТОЛЬКО профессиональный медицинский отчёт.\n\nПЕРВИЧНАЯ ПРОВЕРКА\nЕсли текст не про онкологическое заболевание — немедленно останови анализ и ответь:\n«Данный документ не содержит информации об онкологическом заболевании. Анализ невозможен. Пожалуйста, загрузите историю болезни онкологического пациента.»\nДальнейший анализ не проводи.\n\nИСТОЧНИКИ (строгий приоритет)\n1. Рекомендации RUSSCO\n2. Клинические рекомендации Минздрава РФ\n3. Разделы для особых групп (пожилые 60+, беременные) — если применимо\n\nИспользуй ТОЛЬКО переданные источники.\nПри каждой ссылке указывай: название документа, раздел, подраздел, пункт.\nЕсли источники расходятся — приведи обе позиции без комментария:\n«RUSSCO: [позиция]»\n«Минздрав РФ: [позиция]»\n\nСТРОГИЕ ОГРАНИЧЕНИЯ\nТы НЕ назначаешь лечение\nТы НЕ предлагаешь альтернативные схемы\nТы НЕ формулируешь рекомендации от себя\nТы НЕ выходишь за рамки переданной нозологии\nТы НЕ добавляешь данные которых нет в истории болезни\n\nДопустимы ТОЛЬКО формулировки:\n- «в рекомендациях указано»\n- «согласно клиническим рекомендациям»\n- «в представленных данных отсутствует»\n\nФОРМАТ ВЫВОДА\nТолько обычный текст. Без markdown.\nСписки через дефис или цифры.\nНазвания препаратов — ЗАГЛАВНЫМИ буквами.\nПроценты указывай только если рассчитаны.\n\nДОПУСТИМЫЕ СТАТУСЫ (СТРОГО)\n- соответствует\n- частично соответствует\n- не соответствует\n- невозможно оценить из-за недостатка данных\n\nЛОГИКА АНАЛИЗА\n\nШАГ 1. Извлечение клинических данных\nИзвлеки ТОЛЬКО то что явно указано:\n- диагноз в рамках заданной нозологии\n- стадию и TNM (если есть)\n- морфологию\n- молекулярные маркеры (только если указаны)\n- возраст и принадлежность к особой группе\n- прошлое лечение\n- текущее или планируемое лечение\n- значимые сопутствующие состояния\nЕсли данных нет — укажи «не указано».\n\nШАГ 2. Определение применимых рекомендаций\nИспользуй рекомендации только по данной нозологии.\n\nШАГ 3. Анализ прошлого лечения\nДля каждого этапа:\n- статус соответствия\n- пояснение со ссылкой на источник (название, раздел, пункт)\n- при расхождении источников — обе позиции дословно\n\nШАГ 4. Анализ текущего лечения\nАналогично шагу 3.\n\nШАГ 5. Фиксация результатов\nЗафиксируй статус и процент прошлого и текущего лечения.\nЭти значения нельзя пересчитывать или менять.\n\nСТРУКТУРА ОТВЕТА\n\nТекст для врача\n\nИтоговое резюме\nПрошлое лечение: [статус]\nТекущее лечение: [статус]\n\nРаспознанные клинические данные\nСписок извлечённых данных.\n\nАнализ прошлого лечения\nДля каждого этапа: статус, пояснение, ссылка на источник с разделом и пунктом.\n\nАнализ текущего лечения\nАналогично.\n\nВыявленные несоответствия и риски\n- нарушения стандартов\n- расхождения между источниками с цитатами\n- без прогнозов и советов\n\nОсобенности для группы пациента (если применимо)\n- ограничения рекомендаций для данной группы\n- влияние на оценку\n\nОграничения анализа\n- какие данные отсутствуют\n- как это влияет на вывод\n\nСправочный вариант лечения из клинических рекомендаций\nВарианты лечения дословно из источников с указанием раздела и пункта.\nБез индивидуализации, без выбора оптимального варианта, без сравнений.\nБез слов «рекомендуется», «следует», «лучше».\n«Данный раздел носит справочный характер и не является назначением лечения.»\n\nВопросы лечащему врачу\n3-5 конкретных профессиональных вопросов с медицинской терминологией на основе выявленных несоответствий и пробелов.\n\nИсточники\nДля каждого использованного источника: название документа, год, раздел, пункт.\nПеречисли ВСЕ использованные источники — RUSSCO, Минздрав РФ, особые группы (если применялись)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2880,
        512
      ],
      "id": "f4730227-1354-4a92-85be-cdd31d1cee62",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2944,
        720
      ],
      "id": "64d5fe2e-b481-4326-b279-553b262093ab",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "6kLXtrCpJR770JWH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3568,
        624
      ],
      "id": "26eb1ef0-f1a7-446b-b2cd-51ce2d7df23b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "=❌ Не удалось определить тип онкологии. \nУбедитесь что файл содержит историю болезни онкологического пациента.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        608
      ],
      "id": "0974db61-c021-4a17-b7c5-21f41f2d3f59",
      "name": "Send a text message11",
      "webhookId": "62f9f2e9-be18-4101-9bbd-9e6c6edad5cf",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json.output;\nconst cleaned = content.replace(/```json|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  throw new Error('AI Agent вернул невалидный JSON: ' + content);\n}\n\nreturn [{\n  json: {\n    oncology_code: parsed.code,\n    oncology_name: parsed.name,\n    file_key: parsed.file_key,\n    book_key: parsed.book_key || null,\n    special_key: parsed.special_key || null,\n    patient_history: $('Merge').first().json.text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        240
      ],
      "id": "1d1c83fd-fdec-4696-82ac-9f5c55413d67",
      "name": "Code in JavaScript5",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Тип онкологии определён: {{ $json.oncology_name }} Однако клинические рекомендации по данному типу ещё не загружены в систему.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2704,
        1344
      ],
      "id": "c967ed20-1790-4609-8efe-c27eea95df45",
      "name": "Send a text message12",
      "webhookId": "aed8148f-172d-4fd6-8fcc-26f07f896f51",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output;\nconst triggerData = $('Telegram Trigger').first().json;\nconst chatId = triggerData.message?.chat?.id ?? triggerData.callback_query?.message?.chat?.id;\nconst maxLength = 4000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push({\n    json: {\n      chunk: text.slice(i, i + maxLength),\n      chat_id: chatId\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        592
      ],
      "id": "8419ab2b-c5a5-4052-b388-f88df47daac1",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "={{ $json.chunk }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3760,
        752
      ],
      "id": "c676069b-62b6-4ef0-b26e-edd661e3633b",
      "name": "Send a text message13",
      "webhookId": "699e49ef-2433-4ba8-8bd2-c75f6f0b2853",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mammoth = require('mammoth');\n\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nconst result = await mammoth.extractRawText({ buffer: binaryData });\n\nreturn [{ json: { text: result.value } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        2176
      ],
      "id": "736285be-720b-4e7f-974b-d0e28c85a114",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('Telegram Trigger').first().json;\nconst userId = String(triggerData.message?.from?.id ?? triggerData.callback_query?.from?.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\n\nworkflowStaticData[userId + '_state'] = 'chat';\nworkflowStaticData[userId + '_context'] = $('AI Agent1').first().json.output;\nworkflowStaticData[userId + '_history'] = $('Code in JavaScript5').first().json.patient_history;\n\nreturn [{ json: { success: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        512
      ],
      "id": "ab146811-eab6-427f-9a03-6217d3bfb454",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.message.from.id);\nconst chatId = String($json.message.chat.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\n\nconst context = workflowStaticData[userId + '_context'] || '';\nconst role = workflowStaticData[userId + '_role'] || 'patient';\nconst patientHistory = workflowStaticData[userId + '_history'] || '';\n\nconst text = String($json.message.text || '');\nconst isStop = text.toLowerCase() === 'стоп' || text === '/stop';\n\nreturn [{ json: {\n  userId: userId,\n  chat_id: chatId,\n  message_text: text,\n  chat_context: String(context),\n  role: String(role),\n  patient_history: String(patientHistory),\n  is_stop: isStop\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        1936
      ],
      "id": "ad22ad73-f5bc-4967-bd5d-76121ece7167",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d37de2d0-12d4-442d-8244-f1e2db96aef7",
              "leftValue": "={{ $json.is_stop }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3152,
        1936
      ],
      "id": "6bc86bda-d9ab-496f-b0ba-b25cfbe8bd42",
      "name": "If4"
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.message.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData[userId + '_state'] = 'idle';\nworkflowStaticData[userId + '_context'] = '';\nreturn [{ json: { ...$json } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        2080
      ],
      "id": "9ab5abee-0edc-4fe2-a49d-2b648fa88f83",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "✅ Диалог завершён. Если понадобится новый анализ — прикрепите файл.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3728,
        2080
      ],
      "id": "596a9e0b-56d6-4b2b-9e2a-d0f9066e98e4",
      "name": "Send a text message14",
      "webhookId": "7257b946-5d18-4e39-84ad-a7ec116c7c83",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code in JavaScript9').item.json.message_text }}",
        "options": {
          "systemMessage": "=## Ты опытный врач-онколог. Пациент или врач уже получил план лечения и задаёт уточняющие вопросы. Отвечай только на основе предоставленных материалов.\n\n## РОЛЬ ПОЛЬЗОВАТЕЛЯ: \n{{ $('Code in JavaScript9').item.json.role }}\n* doctor: используй медицинскую терминологию, латинские названия препаратов\n* patient: объясняй простым языком без терминов, без медицинского жаргона\n\n### Ты отвечаешь ТОЛЬКО на заданный вопрос.\nЗапрещено:\n\n* повторять весь отчёт\n* менять статусы\n\n### Используй только:\n\n* уже выданный анализ\n* исходную историю болезни\n\n### Формат:\n\n* коротко\n* по существу\n* без новых выводов\n\n### ИСТОРИЯ БОЛЕЗНИ:\n{{ $('Code in JavaScript9').item.json.patient_history }}\n### ВЫДАННЫЙ ПЛАН ЛЕЧЕНИЯ:\n{{ $('Code in JavaScript9').item.json.chat_context }}\n\n## ФОРМАТ ОТВЕТА — СТРОГО:\n- Только обычный текст\n- Никакого markdown: никаких *, **, #, _, ~, `, []()\n- Списки только через дефис или цифры\n- Названия препаратов заглавными буквами\n- Абзацы разделяй пустой строкой\n- Не повторяй весь план лечения в ответе"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3376,
        1632
      ],
      "id": "3fd1a1b0-17f9-4737-ad87-2b2d4617f753",
      "name": "AI Agent2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.output;\n\n// Убираем markdown символы которые ломают Telegram\nconst text = rawText\n  .replace(/\\*\\*(.*?)\\*\\*/g, '$1')\n  .replace(/\\*(.*?)\\*/g, '$1')\n  .replace(/__(.*?)__/g, '$1')\n  .replace(/~~(.*?)~~/g, '$1')\n  .replace(/`{3}[\\s\\S]*?`{3}/g, '')\n  .replace(/`(.*?)`/g, '$1')\n  .replace(/\\|\\|(.*?)\\|\\|/g, '$1')\n  .replace(/#{1,6}\\s/g, '')\n  .replace(/\\[(.*?)\\]\\(.*?\\)/g, '$1')\n  .trim();\n\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst maxLength = 4000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += maxLength) {\n  chunks.push({\n    json: {\n      chunk: text.slice(i, i + maxLength),\n      chat_id: chatId\n    }\n  });\n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3728,
        1744
      ],
      "id": "8d2e29e1-fcae-440b-9363-f90b2139929c",
      "name": "Code in JavaScript11"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3952,
        1744
      ],
      "id": "a1ff9914-a471-4088-90e2-3614de57c677",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        4400,
        1808
      ],
      "id": "eed9557e-f21c-446e-b1e1-265d24e5f01f"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "={{ $json.chunk }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4176,
        1744
      ],
      "id": "61ab3552-4f9d-4ad2-8d8c-6af86220e315",
      "name": "Send a text message15",
      "webhookId": "97b2e6fb-b13a-49da-86e2-ecda50e22079",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "✅ Диалог завершён.  Если понадобится новый анализ — нажмите \"Начать работу\" или прикрепите новый файл.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        544
      ],
      "id": "3d354be9-b451-42e1-b2ed-2d2b7a6f6619",
      "name": "Send a text message16",
      "webhookId": "3d1f2f90-f56e-4f59-8bc3-c61aab8c3533",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.callback_query.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nworkflowStaticData[userId + '_state'] = 'idle';\nworkflowStaticData[userId + '_context'] = '';\nreturn [{ json: { ...$json } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        544
      ],
      "id": "587b323a-192b-4633-931c-fb144c424b20",
      "name": "Code in JavaScript12"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3392,
        1856
      ],
      "id": "6e597350-0871-42dd-9ada-4c60538e286c",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "6kLXtrCpJR770JWH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "Готовлю ответ...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        144
      ],
      "id": "0552b14f-aa00-498e-ba80-9098cbb55219",
      "name": "Send a text message17",
      "webhookId": "542c9228-b1bf-42d3-a27f-2699f2791ec3",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "messageId": "={{ $('Send a text message17').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3728,
        512
      ],
      "id": "919dd2c3-5b68-496d-b7c5-d3e0061e8748",
      "name": "Delete a chat message",
      "webhookId": "1904c123-5e0c-49dd-867b-398d74b27c10",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const triggerData = $('Telegram Trigger').first().json;\nconst userId = String(triggerData.message?.from?.id);\nconst chatId = triggerData.message?.chat?.id;\nconst sd = $getWorkflowStaticData('global');\nconst role = sd[userId + '_role'] || null;\n\nconst newText = triggerData.message?.text || '';\n\n// Накапливаем сообщения в буфере\nconst existing = sd['buffer_' + userId] || '';\nsd['buffer_' + userId] = existing ? existing + '\\n' + newText : newText;\n\nreturn [{ json: {\n  userId,\n  chat_id: chatId,\n  role,\n  has_role: !!role,\n  buffer_text: sd['buffer_' + userId]\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1504
      ],
      "id": "e341a6fa-2aac-469a-8503-5b695b5a0f26",
      "name": "Code in JavaScript14"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3720df38-9cf2-467c-9f23-6daa79faa55c",
              "leftValue": "={{ $json.has_role }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        2272
      ],
      "id": "002e7c65-b4f1-4d33-a408-05b847f80aed",
      "name": "If8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3720df38-9cf2-467c-9f23-6daa79faa55c",
              "leftValue": "={{ $json.has_role }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        1504
      ],
      "id": "84c3426a-1d12-4487-bb53-68cc0726beeb",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.callback_query.from.id);\nconst chatId = $json.callback_query.message.chat.id;\nconst sd = $getWorkflowStaticData('global');\nconst role = sd[userId + '_role'] || null;\n\nconst bufferText = sd['buffer_' + userId] || '';\nconst bufferEmpty = !bufferText.trim();\n\n// Очищаем буфер после чтения\nif (!bufferEmpty) {\n  delete sd['buffer_' + userId];\n}\n\nreturn [{ json: {\n  ...$json,\n  userId,\n  chat_id: chatId,\n  role,\n  has_role: !!role,\n  buffer_empty: bufferEmpty,\n  text: bufferText.trim()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        128
      ],
      "id": "64624d10-18ad-4c61-a882-9625b4bb2265",
      "name": "Code in JavaScript13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04563f89-0850-4439-be2a-8172f583ca14",
              "leftValue": "={{ $json.buffer_empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        128
      ],
      "id": "16b46a41-aaf5-4f40-bbf7-0d1f63f4fdf8",
      "name": "If6"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "⚠️ Вы ещё не отправили текст. Напишите историю болезни и нажмите ✅ Готово",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        128
      ],
      "id": "05210930-25a7-4dda-9c96-ff405777d822",
      "name": "Send a text message18",
      "webhookId": "c00741aa-a351-48d3-b6dc-4caee309d712",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=Текст получен. Отправьте продолжение или нажмите кнопку ниже.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Готово, обработать",
                    "additionalFields": {
                      "callback_data": "buffer_ready"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        1504
      ],
      "id": "36861812-53ee-457e-80d9-5a1759d3edb8",
      "name": "Send a text message21",
      "webhookId": "82e0ee5e-e1da-43d5-9227-da7d65164f2e",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=Сначала нужно выбрать роль",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Врач",
                    "additionalFields": {
                      "callback_data": "role_doctor"
                    }
                  },
                  {
                    "text": "Пациент",
                    "additionalFields": {
                      "callback_data": "role_patient"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        2352
      ],
      "id": "f65509d2-d325-46e2-bc6f-55c649ef7158",
      "name": "Send a text message19",
      "webhookId": "46e1ce93-ccd0-4b1e-9c8b-378ee612808a",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=📋 **Выберите роль **\n\nВрач - анализ на профессиональном языке\nПациент - анализ на простом, понятном языке\n\n__Это нужно чтобы бот адаптировал ответ под вас__",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Врач",
                    "additionalFields": {
                      "callback_data": "role_doctor"
                    }
                  },
                  {
                    "text": "Пациент",
                    "additionalFields": {
                      "callback_data": "role_patient"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        1696
      ],
      "id": "2b472440-96c9-4739-aa33-889be89a2eb1",
      "name": "Send a text message20",
      "webhookId": "46e1ce93-ccd0-4b1e-9c8b-378ee612808a",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "=💬 Вы можете задать уточняющие вопросы по плану лечения.\nКогда закончите — нажмите кнопку ниже.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Завершить диалог",
                    "additionalFields": {
                      "callback_data": "stop_chat"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4400,
        608
      ],
      "id": "0a111083-b45a-4159-a8c8-9b80d708f21f",
      "name": "Send a text message22",
      "webhookId": "e9283cc4-f79b-4e89-90ab-23e36a4162b0",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db79f618-45c2-4273-9e28-33a89c31adf2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e017e21-cd43-437c-913b-bee9ee947d26",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document.mime_type }}",
                    "rightValue": "application/docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        2144
      ],
      "id": "05b94316-7e21-4e4b-88d5-d5acbb33a177",
      "name": "Switch2"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=К сожалению файл такого типа, мы пока не можем обработать",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        2368
      ],
      "id": "d5dce15e-bef7-490f-b4a7-cb82ead815d7",
      "name": "Send a text message23",
      "webhookId": "82e0ee5e-e1da-43d5-9227-da7d65164f2e",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "=Вы попали в меню. Выберите действие:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📋 Поменять роль",
                    "additionalFields": {
                      "callback_data": "chage_role"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🤖 Что умеет бот",
                    "additionalFields": {
                      "callback_data": "about"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💬 Обратная связь",
                    "additionalFields": {
                      "callback_data": "feedback"
                    }
                  },
                  {
                    "text": "🛠 Техподдержка",
                    "additionalFields": {
                      "callback_data": "support"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        544
      ],
      "id": "1e472096-6492-4a90-a54e-92c1d12eac99",
      "name": "Send a text message25",
      "webhookId": "6bb53fb2-011a-498f-9008-799a0373ef17",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=🚀 Начать работу",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        -256
      ],
      "id": "88ad923f-37de-4537-a586-9ccc028baa5f",
      "name": "Send a text message24",
      "webhookId": "c5a33d13-5bdb-4a70-a44f-354a6370eaf9",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=🤖 Что умеет бот",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        -64
      ],
      "id": "2db3738e-88c4-4630-8ba0-ce9ea0fe0301",
      "name": "Send a text message26",
      "webhookId": "c5a33d13-5bdb-4a70-a44f-354a6370eaf9",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "К сожалению на сервере ии модели, произошел сбой, пожалуйста повторите ввод.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        688
      ],
      "id": "7fd7b252-7c44-41ed-9739-89cd2f04089e",
      "name": "Send a text message27",
      "webhookId": "60b95c3c-843c-4ac3-bfb0-b5277ff197f0",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Code in JavaScript9').item.json.chat_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3520,
        1856
      ],
      "id": "de25b683-d195-4478-9587-084e9a31eae5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.message.from.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nconst role = workflowStaticData[userId + '_role'] || null;\n\nreturn [{ json: {\n  ...$json,\n  role: role,\n  has_role: !!role\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        1504
      ],
      "id": "c67a5591-a857-49e4-85b8-0ea7cede73a2",
      "name": "Code in JavaScript16"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/russco/{{ $('Code in JavaScript5').item.json.book_key }}.pdf"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1456,
        144
      ],
      "id": "1237b677-982f-4672-91b6-e8a0ccc66f80",
      "name": "Download a file1",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "ylDTbgHcVionbYsP",
          "name": "Dropbox account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "=/special/{{ $('Code in JavaScript5').item.json.special_key }}.pdf"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1456,
        1568
      ],
      "id": "9f1f6401-44cd-4996-9695-806d85e89200",
      "name": "Download a file2",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "ylDTbgHcVionbYsP",
          "name": "Dropbox account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1680,
        -48
      ],
      "id": "f2f40a23-dc85-43ed-8c4c-ce19482c3bb9",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "jsCode": "const guidelines = $input.all()[0]?.json.text || '';\nconst book = $input.all()[1]?.json.text || '';\nconst special = $input.all()[2]?.json.text || '';\n\nreturn [{ json: {\n  ...$('Code in JavaScript5').first().json,\n  guidelines_text: guidelines,\n  book_text: book,\n  special_text: special\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        800
      ],
      "id": "7d685843-10e4-4a5e-add3-8814c2a89fa6",
      "name": "Code in JavaScript17"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1680,
        144
      ],
      "id": "46e57b10-b507-4dd7-8329-1b8e2d34769c",
      "name": "Extract from File2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1680,
        1568
      ],
      "id": "6559c696-39a0-4772-b901-32fa617ebed1",
      "name": "Extract from File3",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1904,
        784
      ],
      "id": "8500a700-99d5-4e7a-931f-e9db89eddb34",
      "name": "Merge1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "Осталось совсем чуть-чуть...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2352,
        800
      ],
      "id": "78106e46-f205-4bb7-a06d-6ee179e90d38",
      "name": "Send a text message28",
      "webhookId": "542c9228-b1bf-42d3-a27f-2699f2791ec3",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "messageId": "={{ $('Send a text message28').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3952,
        512
      ],
      "id": "f441d443-2e9a-47e2-b984-fbe276643d51",
      "name": "Delete a chat message1",
      "webhookId": "1904c123-5e0c-49dd-867b-398d74b27c10",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "Готовлю ответ...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2864,
        1936
      ],
      "id": "e0003674-8710-422a-ae5c-8efd8a8df65c",
      "name": "Send a text message30",
      "webhookId": "542c9228-b1bf-42d3-a27f-2699f2791ec3",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "messageId": "={{ $('Send a text message30').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4176,
        1552
      ],
      "id": "a9567fa6-1f42-49e9-a1b8-bb85465d1521",
      "name": "Delete a chat message2",
      "webhookId": "1904c123-5e0c-49dd-867b-398d74b27c10",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4591f32a-0e26-45bc-8f27-7cd1fd15c961",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2352,
        1840
      ],
      "id": "4465a778-33ec-4893-8895-3790f38c2171",
      "name": "If5"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id ?? $('Telegram Trigger').item.json.callback_query.message.chat.id}}",
        "text": "Пожалуйста отправьте вопрос в текстовом формате.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2576,
        1744
      ],
      "id": "57e82a4d-5fde-4b33-928f-1bcd40ce96f5",
      "name": "Send a text message29",
      "webhookId": "c8f37da0-3335-4de1-92ef-dc23b1e99f3f",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userId = String($json.message?.from?.id ?? $json.callback_query?.from?.id);\nconst workflowStaticData = $getWorkflowStaticData('global');\nconst role = workflowStaticData[userId + '_role'] || null;\n\nreturn [{ json: {\n  ...$json,\n  role: role,\n  has_role: !!role\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        1120
      ],
      "id": "622ac580-c070-44f1-912c-f29720d6898f",
      "name": "Code in JavaScript15"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query?.message?.chat?.id ?? $json.message?.chat?.id ?? $('Telegram Trigger').item.json.message?.chat?.id }}",
        "text": "=📋 **Выберите роль **\n\nВрач - анализ на профессиональном языке\nПациент - анализ на простом, понятном языке\n\n__Это нужно чтобы бот адаптировал ответ под вас__",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Врач",
                    "additionalFields": {
                      "callback_data": "role_doctor"
                    }
                  },
                  {
                    "text": "Пациент",
                    "additionalFields": {
                      "callback_data": "role_patient"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        368
      ],
      "id": "d23c5cd6-e2e3-4b39-a18c-c54d58c9a3dd",
      "name": "Send a text message31",
      "webhookId": "46e1ce93-ccd0-4b1e-9c8b-378ee612808a",
      "credentials": {
        "telegramApi": {
          "id": "SLma7sgP9XyP0kLv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "167ac864-8aac-47ca-b04c-c7663f0a2908",
              "leftValue": "={{ $('Code in JavaScript4').item.json.role }}",
              "rightValue": "doctor",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2720,
        720
      ],
      "id": "5ea64ca1-6db2-4eb1-b99b-6d6fdbd751e7",
      "name": "If9"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ИСТОРИЯ БОЛЕЗНИ ПАЦИЕНТА:\n{{ $('Merge').item.json.text }}\nТИП ОНКОЛОГИИ: {{ $('If2').item.json.oncology_code }},{{ $('If2').item.json.oncology_name }}\nКЛИНИЧЕСКИЕ РЕКОМЕНДАЦИИ МИНЗДРАВА:\n{{ $('Code in JavaScript17').item.json.guidelines_text }}\nКЛИНИЧЕСКИЕ РЕКОМЕНДАЦИИ RUSSCO:\n{{ $('Code in JavaScript17').item.json.book_text }}\nОСОБЫЕ КАТЕГОРИИ ПАЦИЕНТОВ:\n{{ $('Code in JavaScript17').item.json.special_text }}\nРОЛЬ ПОЛЬЗОВАТЕЛЯ: {{ $('Code in JavaScript15').item.json.role }}",
        "options": {
          "systemMessage": "=Ты — AI-помощник для объяснения пациенту соответствия его лечения клиническим рекомендациям. Работаешь ТОЛЬКО в режиме patient. Выводи ТОЛЬКО упрощённый отчёт для пациента. Никогда не используй медицинскую терминологию.\n\nПЕРВИЧНАЯ ПРОВЕРКА\nЕсли текст не про онкологическое заболевание — немедленно останови анализ и ответь:\n«Данный документ не содержит информации об онкологическом заболевании. Анализ невозможен. Пожалуйста, загрузите историю болезни онкологического пациента.»\nДальнейший анализ не проводи.\n\nИСТОЧНИКИ (строгий приоритет)\n1. Рекомендации RUSSCO\n2. Клинические рекомендации Минздрава РФ\n3. Разделы для особых групп (пожилые 60+, беременные) — если применимо\n\nИспользуй ТОЛЬКО переданные источники.\nЕсли источники расходятся — укажи обе позиции простым языком без комментария.\n\nСТРОГИЕ ОГРАНИЧЕНИЯ\nТы НЕ назначаешь лечение\nТы НЕ предлагаешь альтернативы\nТы НЕ пугаешь пациента\nТы НЕ используешь медицинские термины\nТы НЕ добавляешь данные которых нет в истории болезни\n\nФОРМАТ ВЫВОДА\nТолько обычный текст. Без markdown.\nПростые короткие предложения.\nСписки через дефис или цифры.\nДопустимы эмодзи ✅ ⚠️\nНазвания препаратов — ЗАГЛАВНЫМИ буквами.\n\nДОПУСТИМЫЕ СТАТУСЫ (СТРОГО — те же что в отчёте для врача)\n- соответствует\n- частично соответствует\n- не соответствует\n- невозможно оценить из-за недостатка данных\n\nЛОГИКА АНАЛИЗА\n\nШАГ 1. Извлечение данных\nИзвлеки ТОЛЬКО то что явно указано:\n- диагноз простыми словами\n- прошлое лечение\n- текущее или планируемое лечение\n- принадлежность к особой группе (если есть)\nЕсли данных нет — укажи «информация не указана».\n\nШАГ 2. Анализ прошлого лечения\nДля каждого этапа простым языком:\n- соответствовало ли лечение стандартам\n- почему да или почему нет — без терминов\n\nШАГ 3. Анализ текущего лечения\nАналогично шагу 2.\n\nШАГ 4. Фиксация результатов\nЗафиксируй статус прошлого и текущего лечения.\nЭти значения нельзя пересчитывать или менять.\n\nСТРУКТУРА ОТВЕТА\n\nТекст для пациента\n\nОбщий вывод\nПрошлое лечение: [статус]\nТекущее лечение: [статус]\n\nЧто соответствует стандартам ✅\nПростым языком — что было сделано правильно.\n\nГде есть проблемы ⚠️\nПростым языком:\n- какие этапы не соответствуют стандартам\n- в чём суть проблемы без терминов\n\nОсобенности для вашей группы (если применимо)\nПростым языком — что важно учитывать пожилым или беременным.\n\nСправочный вариант лечения из клинических рекомендаций\nЧто говорят рекомендации о лечении данного заболевания — простыми словами.\nБез выбора лучшего варианта, без советов.\n«Данный раздел носит справочный характер и не является назначением лечения.»\n\nВопросы лечащему врачу\n3-5 конкретных простых вопросов которые стоит задать врачу на основе выявленных несоответствий.\nПростым языком, без терминов, без давления.\n\nИсточники\nНазвания использованных рекомендаций и годы.\nПеречисли ВСЕ использованные источники — RUSSCO, Минздрав РФ, особые группы (если применялись).\n\nВажное напоминание\nАнализ носит справочный характер.\nОн не заменяет консультацию врача.\nВсе решения принимает лечащий врач."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2896,
        944
      ],
      "id": "7f566ead-dcbd-44db-a0d0-5a68f202ada9",
      "name": "AI Agent3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3216,
        656
      ],
      "id": "f77db47b-767d-457c-97a1-32cb77f5959a",
      "name": "Merge2"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2928,
        1200
      ],
      "id": "e2a67d9e-c05b-4e69-9762-9c8f216f423e",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "6kLXtrCpJR770JWH",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message26",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message8": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message6": {
      "main": [
        [
          {
            "node": "Send a text message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message27",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message13": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Send a text message22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Send a text message30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Send a text message14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Code in JavaScript11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript11": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Delete a chat message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message15": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message16": {
      "main": [
        [
          {
            "node": "Send a text message25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript12": {
      "main": [
        [
          {
            "node": "Send a text message16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message17": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download a file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download a file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Delete a chat message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript14": {
      "main": [
        [
          {
            "node": "Send a text message21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Code in JavaScript14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript13": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Send a text message18",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message24": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message26": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript16": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file1": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file2": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript17": {
      "main": [
        [
          {
            "node": "Send a text message28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message28": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message30": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message2": {
      "main": [
        [
          {
            "node": "Send a text message22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message29",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript15": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1fa77765-eb86-475b-80bd-53cb6d036b8d",
  "meta": {
    "instanceId": "8003ca067c15abf551727f599a5348055d86cfbcfdda7dbdb1d3604bf15b5853"
  },
  "id": "srdBiXI4ZOsAYdEG",
  "tags": []
}
